/* TODO: 3x */
.header {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.header-logo {
    display: flex;
}
.header-logo-text {
    font-size: 25px;
    margin-left: 10px;
}

.confirmation-message {
    padding: 6px 12px;
    font-size: 14px;
    min-height: 30px;
    color: #fff;
}
.conf-message-bckgrnd {
    background: #f0ad4e;
}
.conf-message-bckgrnd-err {
    background: red;
}

/* override bootstrap's close class */
.close {
    text-align: right;
}