<div class="col-xs-12 m-v">
    <div class="header">
        <div class="header-logo">
            <img src="/assets/fb-events.jpg" alt="fb-events" height="32" width="57">
            <!-- TODO: vymazat click -->
            <div class="header-logo-text" (click)="this.sharedDataService.isAdmin = !this.sharedDataService.isAdmin">Event Agent</div>
        </div>
        <div>
            <span>{{ userName }}</span>
            <div class="fb-login-button" data-max-rows="1" data-size="medium" data-button-type="continue_with" data-show-faces="false"
                data-auto-logout-link="true" data-use-continue-as="true" scope="public_profile,email">
            </div>
        </div>
    </div>
    <div *ngIf="this.sharedDataService.isAdmin">
        <div class="col-xs-12 col-sm-4">
            <button class="col-xs-12 btn btn-primary" routerLink="/home" routerLinkActive="active">View events</button>
        </div>
        <div class="col-xs-12 col-sm-4">
            <button class="col-xs-12 btn btn-primary" routerLink="/manage-events" routerLinkActive="active">Manage events</button>
        </div>
        <div class="col-xs-12 col-sm-4">
            <button class="col-xs-12 btn btn-primary" routerLink="/manage-resources" routerLinkActive="active">Manage resources</button>
        </div>
    </div>
</div>

<!-- CONFIRMATION MESSAGE -->
<div class="col-xs-12 confirmation-message" *ngIf="sharedDataService.isConfirmationMessageShown()">
    <div class="col-xs-11">{{ sharedDataService.confirmationMessage }}</div>
    <button type="button" class="col-xs-1 close" aria-label="Close" (click)="sharedDataService.closeConfirmationMessage()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>