<div>
    <div>
        <div class="col-xs-12 col-sm-4">
            <button class="col-xs-12 btn btn-primary" routerLink="/home" routerLinkActive="active">View events</button>
        </div>
        <div class="col-xs-12 col-sm-4">
            <button class="col-xs-12 btn btn-primary" routerLink="/manage-events" routerLinkActive="active">Manage events</button>
        </div>
        <div class="col-xs-12 col-sm-4">
            <button class="col-xs-12 btn btn-primary" routerLink="/manage-resources" routerLinkActive="active">Manage resources</button>
        </div>
    </div>
</div>