<div class="col-xs-12">

    <!-- TODO -->
    <!-- INPUTS -->
    <div class="header b m-v">
        <div class="m-v">
            <!-- GOOGLE PLACE -->
            <div class="col-xs-12 col-sm-6">
                <ng4geo-autocomplete (componentCallback)="autoCompleteCallback($event)"></ng4geo-autocomplete>
            </div>
            <div class="col-xs-12 col-sm-6">
                <!-- FROM DATE -->
                <div class="col-xs-12 col-md-6 m-t">
                    <div class="col-xs-3">From:</div>
                    <input class="col-xs-9" type="datetime-local" value="{{ getCurrentDate() | date:'yyyy-MM-ddTHH:mm' }}" />
                </div>
                <!-- TO DATE -->
                <div class="col-xs-12 col-md-6 m-t">
                    <div class="col-xs-3">To:</div>
                    <input class="col-xs-9" type="datetime-local" value="{{ getDatePlusWeek() | date:'yyyy-MM-ddTHH:mm' }}" />
                </div>
                <div class="col-xs-12 m-t">
                    <!-- RANGE -->
                    <div class="col-xs-3">Range (km):</div>
                    <input class="col-xs-2" type="number" min="0" step="1" value="1" oninput="this.value=this.value.replace(/[^0-9]/g,'');" />
                    <!-- SEARCH BUTTON -->
                    <button class="col-xs-offset-3 btn btn-success">Search events</button>
                </div>
            </div>
        </div>
        <!-- TODO -->
        <div class="filter m-v">
            <div class="col-xs-8">
                <div class="col-xs-4">{{ events.length }} of {{ dummyDataService.dummyEvents.length }} events</div>
                <input #textbox class="col-xs-8" type="text" placeholder="Filter events by name/place/description..." (keyup)="filterEvents(textbox.value)"
                    [disabled]="dummyDataService.dummyEvents.length === 0" />
            </div>
            <div class="switcher" (click)="isCheckingActive = !isCheckingActive">
                <span>Mark related events</span>
                <span class="glyphicon" [ngClass]="isCheckingActive ? 'glyphicon-chevron-up' : 'glyphicon-chevron-down'"></span>
            </div>
        </div>
        <!-- TODO -->
        <div class="col-xs-12 m-v b-t" [hidden]="!isCheckingActive">
            <div class="col-xs-4 col-sm-3">{{ checkedEvents.size }} checked events</div>
            <div class="col-xs-4 col-sm-3">
                <input class="checkbox-inline m-r" type="checkbox" [value]="checkedCheckbox" (change)="showCheckedEvents()" />
                <span>Show checked only</span>
            </div>
            <div class="col-xs-4 col-sm-3">
                <button class="btn btn-success" [disabled]="checkedEvents.size !== 2" (click)="submitCheckedEvents()">Submit</button>
            </div>
        </div>
    </div>

    <!-- EVENT -->
    <div class="col-xs-12 col-sm-6 m-v" *ngFor="let event of events">
        <div class="btn btn-primary event" (click)="openEventDetailModal(event)">
            <div style="overflow: hidden;">
                <div style="display: flex;">
                    <input class="checkbox-inline m-r" type="checkbox" *ngIf="isCheckingActive" (change)="toggleCheckedEvent(event.id)" (click)="$event.stopPropagation()"
                    />
                    <div class="event-row" [innerHTML]="event.name | highlight: textbox.value"></div>
                </div>
                <div class="event-row" [innerHTML]="event.place.name | highlight: textbox.value"></div>
                <div class="event-row">{{ event.start_time | date:'dd. MM. yyyy HH:mm' }} - {{ event.end_time | date:'dd. MM. yyyy HH:mm' }}</div>
                <div class="event-row" [innerHTML]="event.description | highlight: textbox.value"></div>
            </div>
        </div>
    </div>

    <!-- EVENT DETAIL MODAL -->
    <app-event-detail-modal [event]="clickedEvent"></app-event-detail-modal>

</div>