.b-t {
    padding-top: 10px;
    border-top: 1px solid #2e6da4;
}
.m-r {
    margin-right: 5px;
}
.m-t {
    margin-top: 5px;
}
.header {
    display: flex;
    flex-direction: column;
}
.filter {
    display: flex;
    justify-content: space-between;
}
.switcher {
    padding-right: 30px;
    cursor: pointer;
}
.event {
    display: flex;
    text-align: left;
}
.event-row {
    overflow: hidden;
    text-overflow: ellipsis;
}