<div id="eventDetailModal" class="modal">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" aria-label="Close" (click)="closeEventDetailModal()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body" *ngIf="event">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-3">name:</div>
                    <div class="col-xs-9" [innerHTML]="event.name | highlight: filter"></div>
                </div>
                <div class="row">
                    <div class="col-xs-3">event type:</div>
                    <div class="col-xs-9">{{ event.eventType }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-3">place:</div>
                    <div class="col-xs-9" [innerHTML]="event.place.name | highlight: filter"> </div>
                    <div class="col-xs-9 col-xs-offset-3">{{ event.place.location.street + ', ' + event.place.location.zip + ' ' + event.place.location.city +
                        ', ' + event.place.location.country + ', latitude: ' + event.place.location.latitude + ', longitude:
                        ' + event.place.location.longitude }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-3">start time:</div>
                    <div class="col-xs-9">{{ event.startTime | date:'dd. MM. yyyy HH:mm' }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-3">end time:</div>
                    <div class="col-xs-9">{{ event.endTime | date:'dd. MM. yyyy HH:mm' }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-3">description:</div>
                    <div class="col-xs-9" [innerHTML]="event.description | highlight: filter"></div>
                </div>
                <div class="row">
                    <div class="col-xs-3">url:</div>
                    <div class="col-xs-9">{{ event.url }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-3">event source url:</div>
                    <div class="col-xs-9">{{ event.eventSourceUrl }}</div>
                </div>
            </div>
        </div>

        <div class="modal-footer"></div>

    </div>
</div>