<div id="submitModal" class="modal">
    <div class="modal-content">

        <div class="modal-header">
            <div class="btn-group">
                <button type="button" [class]="isHintTypeIdentical ? 'btn btn-primary' : 'btn btn-default'" (click)="setHintType(true)">Mark the events as identical:</button>
                <button type="button" [class]="!isHintTypeIdentical ? 'btn btn-primary' : 'btn btn-default'" (click)="setHintType(false)">Mark the events as nested:</button>
            </div>
            <button type="button" class="close" aria-label="Close" (click)="sharedDataService.closeSubmitModal()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body">
            <div *ngIf="isHintTypeIdentical; else nestedEvents">
                <!-- TODO: use names or use ids in view events -->
                Events IDs:
                <div *ngFor="let event of sharedDataService.submitModal.events">
                    {{ event }}
                </div>
            </div>
            <ng-template #nestedEvents>
                <span>Choose which one is the parent event and which one is the child one:</span>
                <div>
                    <input class="checkbox-inline m-r" type="checkbox" [(ngModel)]="checkboxes.parent1" (ngModelChange)="toggleCheckboxes('parent1')"
                    />
                    <label class="form-check-label m-r-extra">Parent</label>
                    <input class="checkbox-inline m-r" type="checkbox" [(ngModel)]="checkboxes.child1" (ngModelChange)="toggleCheckboxes('child1')"
                    />
                    <label class="form-check-label m-r-extra">Child</label>
                    {{ event1 }}
                </div>
                <div>
                    <input class="checkbox-inline m-r" type="checkbox" [(ngModel)]="checkboxes.parent2" (ngModelChange)="toggleCheckboxes('parent2')"
                    />
                    <label class="form-check-label m-r-extra">Parent</label>
                    <input class="checkbox-inline m-r" type="checkbox" [(ngModel)]="checkboxes.child2" (ngModelChange)="toggleCheckboxes('child2')"
                    />
                    <label class="form-check-label m-r-extra">Child</label>
                    {{ event2 }}
                </div>
            </ng-template>
        </div>

        <div class="modal-footer">
            <div class="btn-group">
                <button class="btn btn-danger" (click)="onCancel()">Cancel</button>
                <button class="btn btn-success" (click)="onSubmit()" [disabled]="isSubmitDisabled()">Submit</button>
            </div>
        </div>

    </div>
</div>