<div class="col-xs-12" [ngClass]="isLast ? '' : 'b-b'">

    <!-- EVENT -->
    <div class="col-xs-12 col-sm-10 m-v">
        <div class="row">
            <div class="col-xs-3 col-sm-2">name:</div>
            <div class="col-xs-9 col-sm-10">
                <div class="col-xs-12 col-sm-6">
                    <span *ngIf="isFormShown" class="arrowDown" (click)="form.name = pair[0].name"></span>
                    <span class="event1">{{ pair[0].name }}</span>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <span *ngIf="isFormShown" class="arrowDown" (click)="form.name = pair[1].name"></span>
                    <span class="event2">{{ pair[1].name }}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3 col-sm-2">description:</div>
            <div class="col-xs-9 col-sm-10">
                <div class="col-xs-12 col-sm-6">
                    <span *ngIf="isFormShown" class="arrowDown" (click)="form.description = pair[0].description"></span>
                    <span class="event1">{{ pair[0].description }}</span>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <span *ngIf="isFormShown" class="arrowDown" (click)="form.description = pair[1].description"></span>
                    <span class="event2">{{ pair[1].description }}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3 col-sm-2">start_time:</div>
            <div class="col-xs-9 col-sm-10">
                <div class="col-xs-12 col-sm-6">
                    <span *ngIf="isFormShown" class="arrowDown" (click)="form.start_time = pair[0].start_time"></span>
                    <span class="event1">{{ pair[0].start_time | date:'dd. MM. yyyy HH:mm' }}</span>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <span *ngIf="isFormShown" class="arrowDown" (click)="form.start_time = pair[1].start_time"></span>
                    <span class="event2">{{ pair[1].start_time | date:'dd. MM. yyyy HH:mm' }}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3 col-sm-2">end_time:</div>
            <div class="col-xs-9 col-sm-10">
                <div class="col-xs-12 col-sm-6">
                    <span *ngIf="isFormShown" class="arrowDown" (click)="form.end_time = pair[0].end_time"></span>
                    <span class="event1">{{ pair[0].end_time | date:'dd. MM. yyyy HH:mm' }}</span>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <span *ngIf="isFormShown" class="arrowDown" (click)="form.end_time = pair[1].end_time"></span>
                    <span class="event2">{{ pair[1].end_time | date:'dd. MM. yyyy HH:mm' }}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3 col-sm-2">place:</div>
            <div class="col-xs-9 col-sm-10">
                <div class="col-xs-12 col-sm-6">
                    <span *ngIf="isFormShown" class="arrowDown" (click)="form.placeName = pair[0].place.name"></span>
                    <span class="event1">{{ pair[0].place.name }}</span>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <span *ngIf="isFormShown" class="arrowDown" (click)="form.placeName = pair[1].place.name"></span>
                    <span class="event2">{{ pair[1].place.name }}</span>
                </div>
            </div>
        </div>
    </div>

    <!-- FORM -->
    <div class="col-xs-12 col-sm-10 m-v" *ngIf="isFormShown">
        <form #form="ngForm">
            <div class="row">
                <div class="col-xs-9 col-xs-offset-3 col-sm-10 col-sm-offset-2">New event:</div>
            </div>
            <div class="row">
                <div class="col-xs-3 col-sm-2">name:</div>
                <input class="col-xs-9 col-sm-10" type="text" name="name" value="{{ form.name }}" placeholder="Type the name here or click on the arrow above..."
                    ngModel required/>
            </div>
            <div class="row">
                <div class="col-xs-3 col-sm-2">description:</div>
                <textarea class="col-xs-9 col-sm-10 textarea" type="text" name="description" value="{{ form.description }}" placeholder="Type the description here or click on the arrow above..."
                    ngModel required></textarea>
            </div>
            <div class="row">
                <div class="col-xs-3 col-sm-2">start_time:</div>
                <!-- TODO: date format -->
                <input class="col-xs-9 col-sm-10" type="datetime-local" name="start_time" value="{{ form.start_time | date:'yyyy-MM-ddTHH:mm' }}"
                    placeholder="Type the start time here or click on the arrow above..." ngModel required/>
            </div>
            <div class="row">
                <div class="col-xs-3 col-sm-2">end_time:</div>
                <!-- TODO: date format -->
                <input class="col-xs-9 col-sm-10" type="datetime-local" name="end_time" value="{{ form.end_time | date:'yyyy-MM-ddTHH:mm' }}"
                    placeholder="Type the end time here or click on the arrow above..." ngModel required/>
            </div>
            <div class="row" ngModelGroup="place">
                <div class="col-xs-3 col-sm-2">place:</div>
                <input class="col-xs-9 col-sm-10" type="text" name="placeName" #placeName="ngModel" value="{{ form.placeName }}" placeholder="Type the place's name here or click on the arrow above..."
                    ngModel required/>
            </div>
        </form>
    </div>

    <!-- BUTTONS -->
    <div class="col-xs-6 col-xs-offset-3 col-sm-2 col-sm-offset-0 m-v btn-group-vertical">
        <button class="btn btn-primary" *ngIf="hasForm" [disabled]="isDisabled" (click)="isFormShown = true; isDisabled = true;">Merge</button>
        <!-- TODO: disabled &&  isFormShown && required fields -->
        <button class="btn btn-success" *ngIf="hasForm" [disabled]="!form || !isFormValid()" (click)="onSubmit()">Submit</button>
        <button class="btn btn-success" *ngIf="!hasForm" (click)="onSubmit()">Submit</button>
        <button class="btn btn-danger" (click)="onDelete()">Delete</button>
    </div>

</div>