.b-b {
    border-bottom: 1px solid #2e6da4;
}
.event1 {
    color: #c2571a;
}
.event2 {
    color: #093145;
}
.arrowDown {
    margin-right: 10px;
    cursor: pointer;
}
.arrowDown:after {
    font-family: "Glyphicons Halflings";
    content: "\e134";
}
.textarea {
    resize: vertical;
}

button {
    white-space: normal;
}