<div class="col-xs-12" [ngClass]="isLast ? '' : 'b-b'">

    <!-- EVENT -->
    <div class="col-xs-12 col-sm-10 m-v">
        <div class="row">
            <div class="row">
                <div class="col-xs-4">id:</div>
                <div class="col-xs-8">
                    {{ pair.id }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">similarity state:</div>
                <div class="col-xs-8">
                    {{ pair.similarityState }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">probability of equality:</div>
                <div class="col-xs-8">
                    {{ pair.probabilityOfEquality }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">number of equality suggestions:</div>
                <div class="col-xs-8">
                    {{ pair.equalitySuggestions.length }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">number of first is subevent suggestions:</div>
                <div class="col-xs-8">
                    {{ pair.firstIsSubeventSuggestions.length }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">number of second is subevent suggestions:</div>
                <div class="col-xs-8">
                    {{ pair.secondIsSubeventSuggestions.length }}
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xs-3 col-sm-2">id:</div>
            <div class="col-xs-9 col-sm-10">
                <div class="col-xs-12 col-sm-6">
                    <span *ngIf="isFormShown" class="arrowDown" (click)="form.id = pair.eventOne.id"></span>
                    <span class="event1">{{ pair.eventOne.id }}</span>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <span *ngIf="isFormShown" class="arrowDown" (click)="form.id = pair.eventTwo.id"></span>
                    <span class="event2">{{ pair.eventTwo.id }}</span>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-xs-3 col-sm-2">name:</div>
            <div class="col-xs-9 col-sm-10">
                <div class="col-xs-12 col-sm-6">
                    <span *ngIf="isFormShown" class="arrowDown" (click)="form.name = pair.eventOne.name"></span>
                    <span class="event1">{{ pair.eventOne.name }}</span>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <span *ngIf="isFormShown" class="arrowDown" (click)="form.name = pair.eventTwo.name"></span>
                    <span class="event2">{{ pair.eventTwo.name }}</span>
                </div>
            </div>
        </div> -->
        <div class="row">
            <div class="col-xs-3 col-sm-2">event type:</div>
            <div class="col-xs-9 col-sm-10">
                <div class="col-xs-12 col-sm-6">
                    <span *ngIf="isFormShown" class="arrowDown" (click)="form.eventType = pair.eventOne.eventType"></span>
                    <span class="event1">{{ pair.eventOne.eventType }}</span>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <span *ngIf="isFormShown" class="arrowDown" (click)="form.eventType = pair.eventTwo.eventType"></span>
                    <span class="event2">{{ pair.eventTwo.eventType }}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3 col-sm-2">description:</div>
            <div class="col-xs-9 col-sm-10">
                <div class="col-xs-12 col-sm-6">
                    <span *ngIf="isFormShown" class="arrowDown" (click)="form.description = pair.eventOne.description"></span>
                    <span class="event1">{{ pair.eventOne.description }}</span>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <span *ngIf="isFormShown" class="arrowDown" (click)="form.description = pair.eventTwo.description"></span>
                    <span class="event2">{{ pair.eventTwo.description }}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3 col-sm-2">start time:</div>
            <div class="col-xs-9 col-sm-10">
                <div class="col-xs-12 col-sm-6">
                    <span *ngIf="isFormShown" class="arrowDown" (click)="form.startTime = pair.eventOne.startTime"></span>
                    <span class="event1">{{ pair.eventOne.startTime | date:'dd. MM. yyyy HH:mm' }}</span>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <span *ngIf="isFormShown" class="arrowDown" (click)="form.startTime = pair.eventTwo.startTime"></span>
                    <span class="event2">{{ pair.eventTwo.startTime | date:'dd. MM. yyyy HH:mm' }}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3 col-sm-2">end time:</div>
            <div class="col-xs-9 col-sm-10">
                <div class="col-xs-12 col-sm-6">
                    <span *ngIf="isFormShown" class="arrowDown" (click)="form.endTime = pair.eventOne.endTime"></span>
                    <span class="event1">{{ pair.eventOne.endTime | date:'dd. MM. yyyy HH:mm' }}</span>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <span *ngIf="isFormShown" class="arrowDown" (click)="form.endTime = pair.eventTwo.endTime"></span>
                    <span class="event2">{{ pair.eventTwo.endTime | date:'dd. MM. yyyy HH:mm' }}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3 col-sm-2">place - name:</div>
            <div class="col-xs-9 col-sm-10">
                <div class="col-xs-12 col-sm-6">
                    <span *ngIf="isFormShown" class="arrowDown" (click)="form.placeName = pair.eventOne.place.name"></span>
                    <span class="event1">{{ pair.eventOne.place.name }}</span>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <span *ngIf="isFormShown" class="arrowDown" (click)="form.placeName = pair.eventTwo.place.name"></span>
                    <span class="event2">{{ pair.eventTwo.place.name }}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3 col-sm-2">location - street:</div>
            <div class="col-xs-9 col-sm-10">
                <div class="col-xs-12 col-sm-6">
                    <span *ngIf="isFormShown" class="arrowDown" (click)="form.locationStreet = pair.eventOne.place.location.street"></span>
                    <span class="event1">{{ pair.eventOne.place.location.street }}</span>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <span *ngIf="isFormShown" class="arrowDown" (click)="form.locationStreet = pair.eventTwo.place.location.street"></span>
                    <span class="event2">{{ pair.eventTwo.place.location.street }}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3 col-sm-2">location - city:</div>
            <div class="col-xs-9 col-sm-10">
                <div class="col-xs-12 col-sm-6">
                    <span *ngIf="isFormShown" class="arrowDown" (click)="form.locationCity = pair.eventOne.place.location.city"></span>
                    <span class="event1">{{ pair.eventOne.place.location.city }}</span>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <span *ngIf="isFormShown" class="arrowDown" (click)="form.locationCity = pair.eventTwo.place.location.city"></span>
                    <span class="event2">{{ pair.eventTwo.place.location.city }}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3 col-sm-2">location - zip:</div>
            <div class="col-xs-9 col-sm-10">
                <div class="col-xs-12 col-sm-6">
                    <span *ngIf="isFormShown" class="arrowDown" (click)="form.locationZip = pair.eventOne.place.location.zip"></span>
                    <span class="event1">{{ pair.eventOne.place.location.zip }}</span>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <span *ngIf="isFormShown" class="arrowDown" (click)="form.locationZip = pair.eventTwo.place.location.zip"></span>
                    <span class="event2">{{ pair.eventTwo.place.location.zip }}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3 col-sm-2">location - country:</div>
            <div class="col-xs-9 col-sm-10">
                <div class="col-xs-12 col-sm-6">
                    <span *ngIf="isFormShown" class="arrowDown" (click)="form.locationCountry = pair.eventOne.place.location.country"></span>
                    <span class="event1">{{ pair.eventOne.place.location.country }}</span>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <span *ngIf="isFormShown" class="arrowDown" (click)="form.locationCountry = pair.eventTwo.place.location.country"></span>
                    <span class="event2">{{ pair.eventTwo.place.location.country }}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3 col-sm-2">location - latitude:</div>
            <div class="col-xs-9 col-sm-10">
                <div class="col-xs-12 col-sm-6">
                    <span *ngIf="isFormShown" class="arrowDown" (click)="form.locationLatitude = pair.eventOne.place.location.latitude"></span>
                    <span class="event1">{{ pair.eventOne.place.location.latitude }}</span>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <span *ngIf="isFormShown" class="arrowDown" (click)="form.locationLatitude = pair.eventTwo.place.location.latitude"></span>
                    <span class="event2">{{ pair.eventTwo.place.location.latitude }}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3 col-sm-2">location - longitude:</div>
            <div class="col-xs-9 col-sm-10">
                <div class="col-xs-12 col-sm-6">
                    <span *ngIf="isFormShown" class="arrowDown" (click)="form.locationLongitude = pair.eventOne.place.location.longitude"></span>
                    <span class="event1">{{ pair.eventOne.place.location.longitude }}</span>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <span *ngIf="isFormShown" class="arrowDown" (click)="form.locationLongitude = pair.eventTwo.place.location.longitude"></span>
                    <span class="event2">{{ pair.eventTwo.place.location.longitude }}</span>
                </div>
            </div>
        </div>
    </div>

    <!-- FORM -->
    <div class="col-xs-12 col-sm-10 m-v" *ngIf="isFormShown">
        <form #form="ngForm">
            <div class="row">
                <div class="col-xs-9 col-xs-offset-3 col-sm-10 col-sm-offset-2">New event:</div>
            </div>
            <div class="row">
                <div class="col-xs-3 col-sm-2">id:</div>
                <input class="col-xs-9 col-sm-10" type="text" name="id" value="{{ form.id }}" placeholder="Type the id here or click on the arrow above..."
                    ngModel required/>
            </div>
            <!-- <div class="row">
                <div class="col-xs-3 col-sm-2">name:</div>
                <input class="col-xs-9 col-sm-10" type="text" name="name" value="{{ form.name }}" placeholder="Type the name here or click on the arrow above..."
                    ngModel required/>
            </div> -->
            <div class="row">
                <div class="col-xs-3 col-sm-2">event type:</div>
                <input class="col-xs-9 col-sm-10" type="text" name="eventType" value="{{ form.eventType }}" placeholder="Type the event type here or click on the arrow above..."
                    ngModel required/>
            </div>
            <div class="row">
                <div class="col-xs-3 col-sm-2">description:</div>
                <textarea class="col-xs-9 col-sm-10 textarea" type="text" name="description" value="{{ form.description }}" placeholder="Type the description here or click on the arrow above..."
                    ngModel required></textarea>
            </div>
            <div class="row">
                <div class="col-xs-3 col-sm-2">start time:</div>
                <!-- TODO: date format -->
                <input class="col-xs-9 col-sm-10" type="datetime-local" name="startTime" value="{{ form.startTime | date:'yyyy-MM-ddTHH:mm' }}"
                    placeholder="Type the start time here or click on the arrow above..." ngModel required/>
            </div>
            <div class="row">
                <div class="col-xs-3 col-sm-2">end time:</div>
                <!-- TODO: date format -->
                <input class="col-xs-9 col-sm-10" type="datetime-local" name="endTime" value="{{ form.endTime | date:'yyyy-MM-ddTHH:mm' }}"
                    placeholder="Type the end time here or click on the arrow above..." ngModel required/>
            </div>
            <div class="row" ngModelGroup="place">
                <div class="col-xs-3 col-sm-2">place - name:</div>
                <input class="col-xs-9 col-sm-10" type="text" name="name" #placeName="ngModel" value="{{ form.placeName }}" placeholder="Type the place's name here or click on the arrow above..."
                    ngModel required/>
                <div class="col-xs-12" ngModelGroup="location">
                    <div class="row">
                        <div class="col-xs-4">location - street:</div>
                        <input class="col-xs-8" type="text" name="street" #placeName="ngModel" value="{{ form.locationStreet }}" placeholder="Type the location's street here or click on the arrow above..."
                            ngModel required/>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">location - city:</div>
                        <input class="col-xs-8" type="text" name="city" #placeName="ngModel" value="{{ form.locationCity }}" placeholder="Type the location's city here or click on the arrow above..."
                            ngModel required/>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">location - zip:</div>
                        <input class="col-xs-8" type="text" name="zip" #placeName="ngModel" value="{{ form.locationZip }}" placeholder="Type the location's zip here or click on the arrow above..."
                            ngModel required/>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">location - country:</div>
                        <input class="col-xs-8" type="text" name="country" #placeName="ngModel" value="{{ form.locationCountry }}" placeholder="Type the location's country here or click on the arrow above..."
                            ngModel required/>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">location - latitude:</div>
                        <input class="col-xs-8" type="number" min="0" name="latitude" #placeName="ngModel" value="{{ form.locationLatitude }}" placeholder="Type the location's latitude here or click on the arrow above..."
                            ngModel required/>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">location - longitude:</div>
                        <input class="col-xs-8" type="number" min="0" name="longitude" #placeName="ngModel" value="{{ form.locationLongitude }}"
                            placeholder="Type the location's longitude here or click on the arrow above..." ngModel required/>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- BUTTONS -->
    <div class="col-xs-6 col-xs-offset-3 col-sm-2 col-sm-offset-0 m-v btn-group-vertical">
        <button class="btn btn-primary" [disabled]="isDisabled" (click)="isFormShown = true; isDisabled = true;">Merge events</button>
        <!-- TODO: disabled && required fields -->
        <!-- TODO: [disabled]="!form || !isFormValid()" -->
        <button class="btn btn-success" (click)="onSubmit()">Submit merging</button>
        <button class="btn btn-success" (click)="markAsSubevent(1)">First is subevent</button>
        <button class="btn btn-success" (click)="markAsSubevent(2)">Second is subevent</button>
        <button class="btn btn-danger" (click)="onDelete()">Delete</button>
    </div>

</div>