body {
    height: 100%;
    background: beige;
}

.m-r {
    margin-right: 5px !important;
}
.m-v {
    margin-top: 10px;
    margin-bottom: 10px;
}

.w-full {
    width: 100%;
}

.defaultCursor {
    cursor: default;
}

.pointer {
    cursor: pointer;
}

.header {
    width: 100%;
    cursor: default;
}

.event {
    display: flex;
    text-align: left;
}

.search-icon, .line-recent {
    /* overrides default third party component's style */
    border-color: #2e6da4 !important;
}
.b, input, ul {
    /* 'input' and 'ul' override default third party component's style too */
    border: 1px solid #2e6da4 !important;
    border-radius: 4px;
}

.break-word {
    word-wrap: break-word;
}

/* MODALS - inspired by W3 Schools (https://www.w3schools.com/howto/howto_css_modals.asp) */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
    background-color: beige;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #2e6da4;
    width: 80%; /* Could be more or less, depending on screen size */
    animation-name: animatetop;
    animation-duration: 0.4s
}
/* Modal Header, Modal Body, Modal Footer */
.modal-header, .modal-body, .modal-footer {
    padding: 2px 16px;
    border: none;
}
/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

/* LOADER - inspired by W3 Schools (https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_loader5) */

/* Center the loader */
.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 5;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

  /* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
    from { bottom:-100px; opacity:0 } 
    to { bottom:0; opacity:1 }
}

.loader-hide {
    z-index: -1;
    opacity: 0;
}